.skillsText{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    padding-top: 20vh;
}
.olivia{
  font-family: 'olivia';
  display: flex;
  justify-content: center;
}

.editableText{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 20vh;
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    transform:  translate (-50%);
    color: grey;
    font-family: "olivia";
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

.skillsBody{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
