.page{
    cursor: url('../../Assets/cursors/smileyCursor.cur'), auto;
    padding: 5%;
    justify-content: center;
}

.skillsText{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    padding-top: 20vh
}
.olivia{
  font-family: 'olivia';
  display: flex;
  justify-content: center;
  /* cursor: url('../../Assets/cursors/heart.cur'), auto */
}


.editableText{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 10vh;
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    transform:  translate (-50%);
    color: black;
    font-family: "socfont";
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    max-width: 600px;
}

.skillsBody{
    font-family: 'Roboto Slab';
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.socfont{
    font-family: "socfont";
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5%, 10%, 10%, 10%;
    text-align: center;
}
