.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  font-family: "olivia";
  background-color: black;
  font-size: 200%;
  color: white;
  width: 20vw;
  height: 19vh;
  margin: 10px;
  outline: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#buttonHome:hover {
  background-color: purple;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  cursor: url('../../Assets/cursors/heartFace.cur'), auto
}

#buttonSkills:hover {
  background-color: darkblue;
  font-family: "Bowlby One SC", cursive;
  cursor: url('../../Assets/cursors/mess.cur'), auto
}

#buttonProjects:hover {
  background-color: limegreen;
  /* animation: buttonsSpin infinite 11s cubic-bezier(0.215, 0.610, 0.355, 1);
  height: 40vmin;
  pointer-events: none; */
  font-family: "UnifrakturMaguntia", cursive;
  font-size: 80px;
  cursor: url('../../Assets/cursors/queenCursor.cur'), auto
}

#buttonContact:hover {
  background-image: url("../../Assets/Images/olivia.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Nosifer", cursive;
  font-size: 30px;
  color: red;
  cursor: url('../../Assets/cursors/HumanHeart.cur'), auto
}

@media only screen and (max-width: 768px) {
  .button {
    font-size: 17px;
    width: 20vw;
    height: 10vh;
  }
}

@media only screen and (max-width: 508px) {
  .button {
   font-size: 15px;
  }
}

@media only screen and (max-width: 420px) {
  .button{
   font-size: 12px;
  }
}

