.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  font-family: "olivia";
  background-color: black;
  font-size: 200%;
  color: white;
  width: 20vw;
  height: 19vh;
  margin: 10px;
  outline: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#buttonHome:hover {
  background-color: orangered;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}

#buttonSkills:hover {
  background-color: darkblue;
  font-family: "Bowlby One SC", cursive;
}

#buttonProjects:hover {
  background-color: limegreen;
  /* animation: buttonsSpin infinite 11s cubic-bezier(0.215, 0.610, 0.355, 1);
  height: 40vmin;
  pointer-events: none; */
  font-family: "UnifrakturMaguntia", cursive;
  font-size: 80px;
}

#buttonContact:hover {
  background-image: url("https://media.licdn.com/dms/image/C5603AQFikSQ4fiNd3g/profile-displayphoto-shrink_100_100/0?e=1560384000&v=beta&t=74plxSqQo6O6dl96w6RV1oU_-pqN6kP9Ym6PHqjktuk");
  font-family: "Nosifer", cursive;
  font-size: 30px;
  color: red;
}
